<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.mappers.talentMapper">

<!--재능 판매 등록 -->	


<!--재능 판매 수정 -->


<!--재능 판매 삭제 -->


<!--재능 판매 목록(화면) 출력 -->


<!--재능 판매 상세 조회 -->


<!--재능 구매 등록 -->
<insert id="talent_B_Register">
		insert into talent_b (talb_Code, talb_Id ,talb_Title, talb_Kinds, talb_Content, phone_Num)
		values (talb_seq.nextval, #{talb_Id}, #{talb_Title}, #{talb_Kinds}, #{talb_Content}, #{phone_Num})
</insert>

<!--재능 구매 수정 -->
	<update id="talent_B_Modify">
	update talent_b
		    set
		        talb_Title = #{talb_Title},
		        talb_Kinds = #{talb_Kinds},
		        talb_Content = #{talb_Content}
		        
		    where talb_Code = ${talb_Code}
	</update>

<!--재능 구매 삭제 -->
	<delete id="talent_B_Delete">
		delete
			talent_b
		where talb_Code = #{talb_Code}
	</delete>

<!--재능 구매 목록(화면) 출력 -->
	<select id="talent_B_list" resultType="com.capstone.domain.Talent_B_VO">
		select
			talb_Code, talb_Id, talb_Title, talb_Kinds, talb_Content, phone_Num, talb_Date
	    from talent_b
	        order by talb_Code desc
	</select>
<!--재능 구매 상세 조회 -->
	<select id="talent_B_View" resultType="com.capstone.domain.Talent_B_VO">
	select talb_Code, talb_Id, talb_Title, talb_Kinds, talb_Content, phone_Num, talb_Date
    		from talent_b
        		where talb_Code = #{talb_Code}
	</select>

</mapper>